apiVersion: v1
kind: Pod
metadata:
  name: lab4-target
  labels:
    app: lab4
spec:
  volumes:
    - name: web
      emptyDir: {}

  containers:
    - name: nginx
      image: nginx:stable-alpine
      ports:
        - containerPort: 80
      volumeMounts:
        - name: web
          mountPath: /usr/share/nginx/html

      readinessProbe:
        httpGet:
          path: /
          port: 80
        periodSeconds: 3
        timeoutSeconds: 1
        failureThreshold: 2

      livenessProbe:
        httpGet:
          path: /
          port: 80
        periodSeconds: 5
        timeoutSeconds: 1
        failureThreshold: 3

    - name: scraper
      image: zhaxylyk06/lab4-scraper:lab4
      imagePullPolicy: Always
      volumeMounts:
        - name: web
          mountPath: /data

      # пока index.html не появится — scraper считается "не готов"
      readinessProbe:
        exec:
          command: ["sh", "-c", "test -s /data/index.html"]
        periodSeconds: 2
        failureThreshold: 3

      # если файл исчез/пустой — считаем, что контейнер "умер"
      livenessProbe:
        exec:
          command: ["sh", "-c", "test -s /data/index.html"]
        periodSeconds: 5
        failureThreshold: 2
