apiVersion: v1
kind: Pod
metadata:
  name: mem-evict-1
spec:
  restartPolicy: Never
  containers:
    - name: stress
      image: polinux/stress
      command: ["stress"]
      args: ["--vm", "1", "--vm-bytes", "2000M", "--vm-hang", "1"]
      resources:
        requests:
          memory: "50Mi"
          cpu: "10m"
        limits:
          memory: "4Gi"
