apiVersion: v1
kind: List
items:
  - apiVersion: v1
    kind: Pod
    metadata: { name: mem-stress-1 }
    spec:
      restartPolicy: Never
      containers:
        - name: stress
          image: polinux/stress
          command: ["stress"]
          args: ["--vm", "1", "--vm-bytes", "1400M", "--vm-hang", "1"]
          resources: { limits: { memory: "2Gi" } }

  - apiVersion: v1
    kind: Pod
    metadata: { name: mem-stress-2 }
    spec:
      restartPolicy: Never
      containers:
        - name: stress
          image: polinux/stress
          command: ["stress"]
          args: ["--vm", "1", "--vm-bytes", "1400M", "--vm-hang", "1"]
          resources: { limits: { memory: "2Gi" } }

  - apiVersion: v1
    kind: Pod
    metadata: { name: mem-stress-3 }
    spec:
      restartPolicy: Never
      containers:
        - name: stress
          image: polinux/stress
          command: ["stress"]
          args: ["--vm", "1", "--vm-bytes", "1400M", "--vm-hang", "1"]
          resources: { limits: { memory: "2Gi" } }

  - apiVersion: v1
    kind: Pod
    metadata: { name: mem-stress-4 }
    spec:
      restartPolicy: Never
      containers:
        - name: stress
          image: polinux/stress
          command: ["stress"]
          args: ["--vm", "1", "--vm-bytes", "1400M", "--vm-hang", "1"]
          resources: { limits: { memory: "2Gi" } }
