# DigitalOcean API Token
do_token = "dop_v1_lalalalalalala"

# SSH Key Configuration
ssh_key_name         = "terraform-ssh-key"
ssh_public_key_path  = "~/.ssh/id_ed25519.pub"

# Droplet Configuration
droplet_name   = "terraform-vm"
droplet_region = "nyc3"
droplet_size   = "s-1vcpu-1gb"
droplet_image  = "ubuntu-22-04-x64"

# Tags
droplet_tags = ["terraform", "ansible"]