apiVersion: v1
kind: Pod
metadata:
  name: app-with-db
spec:
  hostNetwork: true
  containers:
    - name: postgres
      image: postgres:15
      env:
        - name: POSTGRES_USER
          value: user
        - name: POSTGRES_PASSWORD
          value: password
        - name: POSTGRES_DB
          value: appdb
      ports:
        - name: db-port
          containerPort: 5432

    - name: nginx-app
      image: nginx:latest
      ports:
        - name: app-port
          containerPort: 80
