name: Lab3

on:
  push:
    paths:
      - "lab3/**"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Ansible
        run: sudo apt update && sudo apt install -y ansible
     
      - name: Syntax check
        run: ansible-playbook lab3/ansible/playbook.yml --syntax-check
     
      - name: Run Playbook
        run: ansible-playbook -i lab3/ansible/inventory lab3/ansible/playbook.yml
