---
- name: Setup PostgreSQL Database
  hosts: postgres
  become: true

  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Install required packages for PostgreSQL repository
      apt:
        name:
          - gnupg
          - wget
          - ca-certificates
        state: present

    - name: Add PostgreSQL GPG key
      apt_key:
        url: https://www.postgresql.org/media/keys/ACCC4CF8.asc
        state: present

    - name: Add PostgreSQL APT repository
      apt_repository:
        repo: "deb http://apt.postgresql.org/pub/repos/apt {{ ansible_distribution_release }}-pgdg main"
        state: present
        filename: pgdg

    - name: Update apt cache after adding PostgreSQL repository
      apt:
        update_cache: yes

    - name: Install PostgreSQL and dependencies
      apt:
        name:
          - "postgresql-{{ postgres_version }}"
          - "postgresql-contrib-{{ postgres_version }}"
          - python3-psycopg2
        state: present

    - name: Ensure PostgreSQL service is running and enabled
      systemd:
        name: postgresql
        state: started
        enabled: yes

    - name: Create PostgreSQL database
      postgresql_db:
        name: "{{ postgres_db_name }}"
        encoding: UTF-8
        lc_collate: en_US.UTF-8
        lc_ctype: en_US.UTF-8
        template: template0
        state: present
      become_user: postgres

    - name: Create PostgreSQL user
      postgresql_user:
        name: "{{ postgres_db_user }}"
        password: "{{ postgres_db_password }}"
        state: present
      become_user: postgres

    - name: Grant all privileges on database to user
      postgresql_privs:
        database: "{{ postgres_db_name }}"
        state: present
        privs: ALL
        type: database
        role: "{{ postgres_db_user }}"
      become_user: postgres

    - name: Configure PostgreSQL to listen on specified addresses
      lineinfile:
        path: "/etc/postgresql/{{ postgres_version }}/main/postgresql.conf"
        regexp: "^#?listen_addresses"
        line: "listen_addresses = '{{ postgres_listen_addresses }}'"
        state: present
      notify: Restart PostgreSQL

    - name: Configure PostgreSQL port
      lineinfile:
        path: "/etc/postgresql/{{ postgres_version }}/main/postgresql.conf"
        regexp: "^#?port"
        line: "port = {{ postgres_port }}"
        state: present
      notify: Restart PostgreSQL

    - name: Configure max connections
      lineinfile:
        path: "/etc/postgresql/{{ postgres_version }}/main/postgresql.conf"
        regexp: "^#?max_connections"
        line: "max_connections = {{ postgres_max_connections }}"
        state: present
      notify: Restart PostgreSQL

    - name: Configure shared buffers
      lineinfile:
        path: "/etc/postgresql/{{ postgres_version }}/main/postgresql.conf"
        regexp: "^#?shared_buffers"
        line: "shared_buffers = {{ postgres_shared_buffers }}"
        state: present
      notify: Restart PostgreSQL

    - name: Configure pg_hba.conf for local connections
      postgresql_pg_hba:
        dest: "/etc/postgresql/{{ postgres_version }}/main/pg_hba.conf"
        contype: host
        databases: "{{ postgres_db_name }}"
        users: "{{ postgres_db_user }}"
        source: 127.0.0.1/32
        method: "{{ postgres_auth_method }}"
        state: present
      notify: Restart PostgreSQL

    - name: Configure pg_hba.conf for remote connections
      postgresql_pg_hba:
        dest: "/etc/postgresql/{{ postgres_version }}/main/pg_hba.conf"
        contype: host
        databases: "{{ postgres_db_name }}"
        users: "{{ postgres_db_user }}"
        source: "{{ item }}"
        method: "{{ postgres_auth_method }}"
        state: present
      loop: "{{ postgres_allowed_hosts }}"
      when: postgres_allow_remote and postgres_allowed_hosts | length > 0
      notify: Restart PostgreSQL

  handlers:
    - name: Restart PostgreSQL
      systemd:
        name: postgresql
        state: restarted
